body {
  text-align: center;
  font-family: Noto Serif;
  padding-top: 0.7em;
  background-color: rgb(245, 226, 234);
animation-duration: 4s;
  animation-name: fadein;
}

.header {
  font-family: Oxygen;
  font-size: 3.6em;
  margin: 0;
  font-weight: bolder;
  color: rgb(163, 60, 10);
}

.description {
  margin: 0 0 0.25em;
}

h4 {
  color: rgb(84, 84, 163);
  margin: 0 auto;
  font-size: 1em;
}

table,
tr,
td {
  border: 1px solid rgba(187, 187, 245, 0.6);
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(102, 102, 155, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 0.8em;
}

table:hover{
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.1);
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 3em;
  padding: 0.2em;
  border-radius: 5px;
  background-color: rgb(248, 229, 236);
}

input[type="color"] {
  padding: 0;
  width: 35px;
  height: 35px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

input[type="submit"] {
  background-color: rgb(163, 60, 10);
  border: 1px rgb(163, 60, 10);
  color: rgb(244, 220, 230);
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 0.3em 0.7em;
  margin-left: 5px;
  font-family: Oxygen;
  font-size: 1em;
  cursor: pointer;
}

.reset {
  background-color: rgb(163, 60, 10);
  border: 1px rgb(163, 60, 10);
  color: rgb(244, 220, 230);
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.5em;
  margin-top: 1em;
  font-family: Oxygen;
  font-size: 1.1em;
  cursor: pointer;
}

#sizePicker {
  margin-bottom: 0.2em;
}

#colorChoiceDiv {
  display: none;
  grid-template-columns: 1fr 2fr;
  margin: 0.6em auto;
  max-width: 500px;
  font-size: 1em;
}

.colorChoices {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}

.colorChoices * {
  padding: 0.5em 0.5em;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
}

.color1 {
  background-color: #a33c0a;
}

.color2 {
  background-color: #a48cb4;
}

.color3 {
  background-color: #5c5bab;
}

.color4 {
  background-color: #9c6479;
}

.color5 {
  background-color: #fd935d;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 500px) {
  body {
    margin: 0 0.5em;
  }

  .header {
    font-size: 2.5em;
  }

  .description {
    margin-top: 0;
    margin: 0 2em;
  }

  h4 {
    font-size: 0.9em;
  }

  h4:first-of-type {
    margin: 0.2em;
  }

  input[type="submit"] {
    font-size: 0.8em;
  }

  input[type="color"] {
    width: 25px;
    height: 25px;
  }
}